<h3>Post #<%= index + 1 %></h3>
<p><strong>Post Title: </strong><%= post.title %></p>
<p><strong>Post Content: </strong><br><%= post.text %></p>
<p><span>Comments: <%= post.comments_counter || 0 %></span><span>    Likes: <%= post.likes_counter || 0 %></span></p>