<div class="post">
  <div class="post-header">
    <h2>Post by <%= post.user.name %></h2>
    <small>
      <span>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
    </small>
  </div>
  <p>
    <%= post.text %>
  </p>
   <%= render partial: "likes/form", locals: { like: Like.new, user: post.user, post: post } %>
</div>
<div class="comments-wrapper">
  <% @post.comments.each do |comment| %>
    <div class="comment-card">
     <%= render "comment/comment", comment: comment %>
    </div>
  <% end %>
    <h3>Add new comment:</h3>
  <%= render partial: "comment/form", locals: { comment: Comment.new, user_id: @post.user_id, post: @post } %>
</div> 