<header class="header">
  <div><%= link_to "Blog App", root_path %></div>
  <nav class="navbar">
    <ul>
      <% if user_signed_in? %>
      <li><%= link_to "Home", root_path %></li>
      <li>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>